[Unit]
Description = production pi
After = rc-local.service
 
[Service]
Type = simple
ExecStart = /home/pi/sudare_package/production_pi/production_pi 192.168.11.20:5511 4567 20
StandardOutput = journal
StandardError = journal
Restart = on-failure
RestartSec = 3s
 
[Install]
WantedBy = multi-user.target
