[Unit]
Description = proto pi
After = rc-local.service
 
[Service]
Type = simple
ExecStart = /home/pi/sudare_package/proto_pi/proto_pi 10
StandardOutput = journal
StandardError = journal
Restart = on-failure
RestartSec = 3s
 
[Install]
WantedBy = multi-user.target